<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Configurator IaC IDE</title>
  </head>
  <body>
<div style="margin: auto; width: 75%;background-color: antiquewhite;">
    <h1>Configurator IaaC IDE</h1>

      <form action="{{ url_for('submit') }}" method="post">
        <textarea style="width: 100%;height: 500px;" name="yaml_data" id="yaml_data" rows="4" cols="50">
- hosts: all
  become: yes
  roles:
    - sample_role:
      vars:
        sample_var1: "Some Data"
          </textarea>
        <input style="color: red; " type="submit" value="SUBMIT"></input>
      </form>
      <p>response</p>
      <textarea style="width: 100%;height: 100px;" id="response" rows="4" cols="50">{% if messages %}{{messages['response']}}{% endif %}</textarea>
    </div>
  </body>
</html>